### 문자열 관련 파이썬 기초문법

1. count() : 문자열에 있는 특정 문자 갯수 세기 
2. index() : 문자열에 있는 특정 문자의 위치 파악 (왼쪽 0부터 시작)
   -> 존재하지 않는 값 입력시 에러.
   => 반드시 있어야 하는 값을 찾아올때 사용.
3. find() : 문자열에 있는 특정 문자의 위치 파악 (에러발생 x -> -1 출력)
4. join() : 서로 다른 문자열을 하나로 합치고자 할 때
5. strip() : 문자열에서 앞,뒤 공백 없앨 때 -> 인자값이 없으면 기본적으로 공백을 없앰
       -> 공백이 여러개 있어도 다 없어질때가지 없앰 
       -> rstrip() :우측 여백 없애기 // lstrip() :좌측 여백 없애기
6. upper(), lower() : 대/소문자로 변경
7. split() : 문자열을 쪼개고자 할 때 => 리스트 반환 -> 인자값이 없으면 기본적으로 공백을 기준으로 나눔
8. replace() :  특정 문자열을 찾아서 원하는 문자열로 교체하고자 할 때
   ->(교체할 대상 , 교체할 값)

In [1]:
#count()
data = "Dave David"
data.count("D")

2

In [6]:
#index()
string = "dave ID is Dave"
string.index("a")

1

In [11]:
#join()

string = "12345"
comma = "," 

print(comma.join(string)) #--> string 값 사이사이에 comma를 합쳐서 값을 가져옴
print(" ".join(string))

1,2,3,4,5
1 2 3 4 5

In [13]:
#strip()

data = "       Dave"
data.strip()

'Dave'

In [14]:
data = "     Dave     "

data.rstrip()

'     Dave'

In [31]:
string = "     999999(DAVE)888888     "
string.strip()

'999999(DAVE)888888'

In [28]:
string = "Dave"
string.lower()

'dave'

In [32]:
string = "Dave goes to Korea"
string.split()[3]

'Korea'

In [33]:
string = "Dave/goes to/Korea"
string.split("/")

['Dave', 'goes to', 'Korea']

In [35]:
string2= "(David)"
string2.replace("(","").replace(")", "") #-> ,"") -> 아무것으로도 바꾸지 마라 => 그냥 지워라
#=> method chaining 기법 : 이거 하고 . 다음 바로 저거해라

'David'